/*
 * author: 黄仰纯
 * 未经允许不得私自直接使用
 * 有问题请联系：QQ：951813006；  WeChat：13416141219；  email：yangchun6868@163.com
 */

#content{
	margin: 20px 0;
	width: 100%;
	height: auto;
}
#sort .tab{
	padding-left: 300px;
}
#sort .tab>li.active a, #sort .tab>li a:hover{
	color: #8E32F8;
}
.tab-content{
	margin-top: 20px;
	width: 100%;
	height: auto;
}
.tab-content .images{
	margin: 10px auto;
	width: 80%;
	height: auto;
}
#content .pro{
	width: 247px;
	height: 360px;
	float: left;
	margin: 20px 10px;
	border: 1px solid #FAFAFA;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 5px #8E32F8;
	font-family:"Comic Sans MS","微软雅黑","幼圆","黑体",sans-serif;
}
#content .pro:hover{
	border: 1px solid #8E32F8;
}
#content .pro img{
	width: 230px;
	height: 220px;
	margin: 10px 8px;
	cursor: pointer;
	border: 1px solid #FAFAFA;
}
#content .pro .description{
	margin: 0;
	padding: 10px 20px;
	color: black;
	text-align: center;
	cursor: pointer;
}
#content .pro .description:hover{
	color: #8E32F8;
	text-decoration: underline;
}
#content .pro .price{
	margin: 0;
	padding: 10px;
	text-align: center;
	color: #8E32F8;
	font-size: 1.2em;
}
.clear{
	clear: both;
}
#content .more{
	margin: 30px 0;
	width: 100%;
	height: 50px;
	background-color: white;
}

#content .more p{
	margin: 0;
	padding: 12px 0;
	color: #8E32F8;
	text-align: center;
	font-size: 1.2em;
	cursor: pointer;
}
#content .more:hover{
	background-color: #ddd;
}