/*
 * author: 黄仰纯
 * 未经允许不得私自直接使用
 * 有问题请联系：QQ：951813006；  WeChat：13416141219；  email：yangchun6868@163.com
 */

body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 1em;
	line-height: normal;
	background-color: #FAFAFA;
	background-image: url(../Images/bg.png); 
	font-family: "微软雅黑","Comic Sans MS","幼圆","黑体",sans-serif;
}
.set_position{
	position: fixed;
}
nav{
	width: 100%;
	height: 80px;
	background-color: white;
	font-family:"微软雅黑","Comic Sans MS","幼圆","黑体",sans-serif;
}
nav .logo{
	display: inline-block;
	width: 80px;
	margin: 13px 40px;
	height: auto;
	border-right: 1px solid #8E32F8;
	float: left;
	cursor: pointer;
}
nav p{
	margin: 0;
	text-align: center;
	font-size: 35px;
	color: #8E32F8;
}
nav a:hover{
    text-decoration: none;
    color: #8E32F8;
}
.oNav{
	margin: 0;
	padding-left: 50px;
	height: 80px;
	width: 800px;
	float: left;
}
.oNav li{
	display: block;
	float: left;
	height: 80px;
	width: 130px;
}
.oNav li.active,.oNav li:hover{
	background-color: #FAFAFA;
}
.oNav li a{
	float: left;
	padding: 30px;
}
nav a{
	color: #8E32F8;
	text-decoration: none;
}
nav .sel{
	margin: 25px 70px 0 0;
	float:right;
}
nav .sel a{
	margin-right: 30px;
}
nav .sel a:hover{
	text-decoration: underline;
	color: red;
}
#top{
	margin-top: 80px;
	margin-bottom: 30px;
	width: 100%;
	height: auto;
}
#top .logo{
	width: 300px;
	color: #8E32F8;
	padding-top: 25px;
	margin: 0 0 0 140px;
	float: left;
}
#top .logo p{
	margin: 0;
	text-align: center;
	font-family: "微软雅黑","Comic Sans MS","幼圆","黑体",sans-serif;
}
#top .search{
	margin: 0 0 0 600px;
	width: 440px;
	height: auto;
	padding: 50px 0;
}
#top .search input{
	width: 300px;
	height: 25px;
	border-radius: 16px;
	padding-left: 10px;
	outline: none;
	border: 1px solid #8E32F8;
}
.sui-btn{
	font-size: 1em;
	height: 35px;
	border: 1px solid #8E32F8;
	border-radius: 20px;
	color: #8E32F8;
	background-color: white;
}
.sui-btn:hover{
	border: 1px solid #8E32F8;
	color: #8E32F8;
	background-color: #FAFAFA;
}
#top button.searchbtn, .sel button.signout{
	margin-left: 15px;
	width: 80px;
}
#footer{
	background-color: white;
	height: 150px;
	width: 100%;
	padding: 5px 0 5px 0;
	text-align: center;
	font-size: 0.85em;
	margin-top: 100px;
}

#footer .footer p{
	margin: 10px 0 10px 0;
	color: #8E32F8;
	font-family:"Comic Sans MS","微软雅黑","幼圆","黑体",sans-serif;
}

#footer .adds{
	height: 20px;
	width: 280px;
	margin: 0 auto;
}

#footer .add{
	float: left;
	padding: 0 20px 0 20px;
	font-family:"微软雅黑","Comic Sans MS","幼圆","黑体",sans-serif;
	font-size: 0.8em;
}
.front{
	border-right: 1px solid #8E32F8;
}
#footer .add a{
	text-decoration: none;
	color: #8E32F8;
}
#footer .add a:hover{
	text-decoration: underline;
	color: #2D56F6;
}
i{
	display: inline-block;
	margin-right: 10px;
	color: #8E32F8;
}