body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: normal;
	background-color: #FAFAFA;
	background-image: url(../Images/bg.png); 
	font-family:"微软雅黑","Comic Sans MS","幼圆","黑体",sans-serif;
}
.set_position{
	position: fixed;
}
#header{
	width: 100%;
	height: 60px;
}
#header .logo{
	width: 80px;
	margin: 13px 40px;
	height: auto;
	border-right: 1px solid #8E32F8;
}
#header p{
	margin: 0;
	text-align: center;
	font-size: 35px;
	color: #8E32F8;
}

#nav{
	position: absolute;
	margin-top: 150px;
	height: auto;
	width: 100%;
	background: ;

}
#nav .logo{
	height: auto;
}
#nav .logo p{
	margin: 0;
	padding-top: 30px;
	text-align: center;
	color: #8E32F8;
	font-size: 80px;
	font-family:"Comic Sans MS","微软雅黑","幼圆","黑体",sans-serif;
}
/*登录前*/
#nav .sign{
	/*display: none;*/
	margin: auto;
	padding-top: 50px;
	width: 295px;
	height: 40px;
	padding-bottom: 30px;
}
#nav a{
	display: inline-block;
	float: left;
	padding: 5px 20px;
	margin: 0 35px;
	border: 2px solid #8E32F8;
	border-radius: 20px;
	text-decoration: none;
	color: #8E32F8;
	cursor: pointer;
}
#nav a:hover{
	background-color: #FAFAFA;
}
/*登录页面*/
#signBox{
	position: absolute;
	display: none;
	margin: 40px auto;
	border: 2px solid #8E32F8;
	border-radius: 15px;
	width: 350px;
	height: 360px;
	background-color: white;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
#signBox .tab{
	height: 56px;
	padding: 0;
	border: none;
	border-radius: 16px 16px 0 0;
	background-color: #FAFAFA;
}
#signBox .tab li{
	height: 100%;
	width: 50%;
	margin: 0;
	background-color: #FAFAFA;
}
#signBox .tab li.signin{
	border-top-left-radius: 16px;
}
#signBox .tab li.signup{
	border-top-right-radius: 16px;
}
#signBox .tab p{
	margin: 0;
	padding-top: 17px;
	text-align: center;
	font-size: 1.2em;
	color: #8E32F8;
}
#signBox .tab li a{
	border: none;
	padding-top: 18px;
	height: 36px;
	text-align: center;
}
.tab-content form{
	font-size: 1em;
	margin-top: 30px;
}
.sui-form.form-horizontal .control-group{
	margin-bottom: 30px;
}
.sui-form.form-horizontal input{
	height: 22px;
}
.sui-form.form-horizontal .inline{
	font-size: 14px;
}
.sui-btn{
	font-size: 1em;
	height: 35px;
	border: 1px solid #8E32F8;
	border-radius: 20px;
	color: #8E32F8;
	background-color: white;
}
.sui-btn:hover{
	border: 1px solid #8E32F8;
	color: #8E32F8;
	background-color: #FAFAFA;
}
.sui-btn.button{
	margin-left: 34px;
}
.tab-content p{
	text-align: center;
}
.tab-content p a{
	color: #8E32F8;
	cursor: pointer;
}
/*登录之后*/
#nav .sel{
	display: none;
	margin-top: 30px;
}
#nav .sel p{
	margin: 0;
	padding-top: 15px;
	text-align: center;
	color: #8E32F8;
	font-size: 1.5em;
	font-family:"微软雅黑","Comic Sans MS","幼圆","黑体",sans-serif;
}
#nav .search input{
	width: 300px;
	height: 25px;
	border-radius: 16px;
	padding-left: 10px;
	outline: none;
}
#nav .search{
	margin: 60px auto;
	width: 440px;
	height: auto;
	padding-bottom: 30px;
}
#nav button.searchbtn{
	margin-left: 35px;
	width: 80px;
}

#content{
	/*margin-top: 20px;*/
	position: absolute;
	height: auto;
}
/*商品幻灯片*/
#content .pro_show{
	width: 100%;
}
/*展示商品*/
#content .showPro{
	display: none;
	width: 100%;
	height: auto;
}
/*公告*/
#content .ancment{
	margin-top: 50px;
	width: 100%;
	height: 80px;
}
#content .ancment p{
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 40px;
	color: #8E32F8;
}
/*分类商品*/
#content .classified{
	height: 800px;
	width: 80%;
	margin: auto;
}

#content .pro_item .pro_title{
	margin: 0;
	padding: 50px 0 10px 20px;
	color: #8E32F8;
	font-size: 20px;
	border-bottom: 2px solid #8E32F8;
}
#content .pro_item .images{
	width: 100%;
	height: auto;
	margin-top: 30px;
	margin-bottom: 20px;
}
#content .pro{
	width: 247px;
	height: 360px;
	float: left;
	margin: 10px 10px;
	border: 1px solid #FAFAFA;
	cursor: pointer;
}
#content .pro:hover{
	border: 1px solid #8E32F8;
}
#content .classified img{
	width: 230px;
	height: 220px;
	margin: 10px 6px;
}
.clear{
	clear: both;
}
#footer{
	background-color: white;
	height: 150px;
	width: 100%;
	padding: 5px 0 5px 0;
	text-align: center;
	font-size: 0.85em;
	margin-top: 100px;
}

#footer .footer p{
	margin: 10px 0 10px 0;
	color: #8E32F8;
	font-family:"Comic Sans MS","微软雅黑","幼圆","黑体",sans-serif;
}

.adds{
	height: 20px;
	width: 280px;
	margin: 0 auto;
}

.add{
	float: left;
	padding: 0 20px 0 20px;
	font-family:"微软雅黑","Comic Sans MS","幼圆","黑体",sans-serif;
	font-size: 0.8em;
}
.front{
	border-right: 1px solid #8E32F8;
}
.add a{
	text-decoration: none;
	color: #8E32F8;
}
.add a:hover{
	text-decoration: underline;
	color: #2D56F6;
}