<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>shoppingSystem</display-name>

	<!-- 配置编码的过滤器 -->
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.hsy.filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>charset</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<!-- 配置判断用户权限的过滤器 -->
	<filter>
		<filter-name>SessionCheckFilter</filter-name>
		<filter-class>com.hsy.filter.SessionCheckFilter</filter-class>
		<init-param>
			<param-name>redirectURL</param-name>
			<param-value>/Go.html</param-value>
		</init-param>
	</filter>
	<!-- 配置EncodingFilter过滤器拦截的url -->
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 配置SessionCheckFilter过滤器拦截的url -->
	<filter-mapping>
		<filter-name>SessionCheckFilter</filter-name>
		<url-pattern>/aaaaaa</url-pattern>
	</filter-mapping>
	
	<welcome-file-list>
		<welcome-file>/html/Gwy_home.html</welcome-file>
	</welcome-file-list>
</web-app>